@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.calcBody {
    background-color: #272727;
    display: flex;
}

.calcOut {
    background-color: #c5c5c5;
}